In [9]:
import pandas as pd
import wrds
conn=wrds.Connection()

Enter your WRDS username [lokes]: loki2809
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [11]:
cd

C:\Users\lokes

In [15]:
import datetime
print (datetime.datetime.now())

2024-11-10 20:38:56.239766

In [19]:
info_crsp=conn.get_table(library='crsp', table='stocknames', columns =['siccd', 'permno', 'ticker','comnam', 'cusip'])

In [21]:
info_crsp.head()

   siccd  permno ticker                     comnam     cusip
0   3990   10000  OMFGA  OPTIMUM MANUFACTURING INC  68391610
1   4920   10001   GFGC         GREAT FALLS GAS CO  36720410
2   4920   10001   EWST            ENERGY WEST INC  36720410
3   4920   10001   EWST            ENERGY WEST INC  36720410
4   4920   10001   EGAS                 ENERGY INC  36720410

In [23]:
info_crsp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80790 entries, 0 to 80789
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   siccd   80790 non-null  int64
 1   permno  80790 non-null  int64
 2   ticker  75849 non-null  object
 3   comnam  80790 non-null  object
 4   cusip   80790 non-null  object
dtypes: int64(2), object(3)
memory usage: 3.1+ MB

In [31]:
info_crsp.duplicated(['permno']).value_counts()

True     43014
False    37776
Name: count, dtype: int64

In [33]:
info_crsp.sort_values(by=['permno'], inplace=True)

In [35]:
info_crsp

       siccd  permno ticker                     comnam     cusip
0       3990   10000  OMFGA  OPTIMUM MANUFACTURING INC  68391610
1       4920   10001   GFGC         GREAT FALLS GAS CO  36720410
2       4920   10001   EWST            ENERGY WEST INC  36720410
3       4920   10001   EWST            ENERGY WEST INC  36720410
4       4920   10001   EGAS                 ENERGY INC  36720410
...      ...     ...    ...                        ...       ...
80785   9999   93433   VLTC               VOLTARI CORP  92870X30
80786   9999   93434   SANW              S & W SEED CO  78513510
80787   6163   93435   SCEI      SINO CLEAN ENERGY INC  82936G20
80788   9999   93436   TSLA           TESLA MOTORS INC  88160R10
80789   9999   93436   TSLA                  TESLA INC  88160R10

[80790 rows x 5 columns]

In [39]:
info_crsp.duplicated('permno',keep='last')

0        False
1         True
2         True
3         True
4         True
         ...
80785    False
80786    False
80787    False
80788     True
80789    False
Length: 80790, dtype: bool

In [41]:
info_crsp.duplicated('permno',keep='last')
info_crsp.duplicated()

0        False
1        False
2        False
3         True
4        False
         ...
80785     True
80786    False
80787    False
80788    False
80789    False
Length: 80790, dtype: bool

In [43]:
info_crsp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80790 entries, 0 to 80789
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   siccd   80790 non-null  int64
 1   permno  80790 non-null  int64
 2   ticker  75849 non-null  object
 3   comnam  80790 non-null  object
 4   cusip   80790 non-null  object
dtypes: int64(2), object(3)
memory usage: 3.7+ MB

In [45]:
unique_companies = info_crsp['permno'].nunique()
unique_companies

37776

In [47]:
subset=info_crsp[['permno']]

In [61]:
subset['eventdate'] = '2022-08-16'

C:\Users\lokes\AppData\Local\Temp\ipykernel_26320\2262615092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['eventdate'] = '2022-08-16'

In [63]:
subset.head(1)

   permno   eventdate
0   10000  2022-08-16

In [71]:
loc=r'C:\Users\lokes\Downloads'

In [79]:
fname=loc+'\\Python_Project_2'